@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 50px;
  background-color: #1f2937;
}

#Logo {
  color: white;
  display: flex;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 1rem;
}

.container1 {
  display: flex;
  flex: 1;
  background-color: #1f2937;
}

#titleContainer1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

#subtextContainer1 {
  height: 18px;
  color: #e5e7eb;
}

.imageCt1 {
  display: flex;
  width: 150px;
}

.info {
  max-width: 200px;
}

.container2 {
  text-align: center;
}

.imageCt2 {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.container4 {
  display: flex;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 60px;
  background-color: #1f2937;
  color: white;
}
