body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.links {
  display: flex;
  gap: 1rem;
}

.container1 {
  display: flex;
}

.imageCt1 {
  display: flex;
  width: 150px;
}

.info {
  max-width: 200px;
}

.container2 {
  text-align: center;
}

.imageCt2 {
  display: flex;
  justify-content: center;
  gap: 52px;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
